/*
 * SPDX-FileCopyrightText: 2022 Romain Vigier <contact AT romainvigier.fr>
 *
 * SPDX-License-Identifier: GPL-3.0-or-later
 */

:root {
	scroll-behavior: smooth;
	text-size-adjust: none;

	--sidebar-width: 22rem;
	--border-radius: 0.2em;
	--color: #000;
	--lighter-color: rgba(128, 128, 128, 1);
	--light-color: rgba(128, 128, 128, 0.6);
	--background: #fff;
	--sidebar-background: #f6f6f6;
	--alternate-background: #f6f6f6;
	--transparent-background: rgba(128, 128, 128, 0.08);
	--shadow-color: transparent;
	--accent: #e118a9;

	--hl-blue: #86daf8;
	--hl-gray: #999;
	--hl-gray-light: #aaa;
	--hl-green: #b3f896;
	--hl-pink: #ff69d5;
	--hl-purple: #d4a4ff;
	--hl-yellow: #ffc13e;
	--hl-highlight: rgba(255, 255, 255, 0.2);

	@include dark {
		--color: #ccc;
		--background: #111;
		--sidebar-background: #030303;
		--alternate-background: #191919;
		--shadow-color: rgba(0, 0, 0, 0.4);
		--accent: #ff69d5;
	}
}
