/*
 * SPDX-FileCopyrightText: 2022 Romain Vigier <contact AT romainvigier.fr>
 *
 * SPDX-License-Identifier: GPL-3.0-or-later
 */

.site {
	padding-left: $sidebar-width;
	font: 1.2em $body-font-family;
	background-color: var(--background);
	color: var(--color);

	@import './site/sidebar';
	@import './site/header';
	@import './site/search';
	@import './site/toc';
	@import './site/content';
	@import './site/footer';

	@include medium {
		padding-left: 0;
	}
}
