{{/*
SPDX-FileCopyrightText: 2022 Romain Vigier <contact AT romainvigier.fr>

SPDX-License-Identifier: GPL-3.0-or-later
*/}}

<footer class="site-footer">
	{{ with .Site.Params.Authors }}<p>Written by {{ delimit . ", " " and " }}.</p>{{ end }}
	{{ with .Site.Copyright }}<p>{{ . }}</p>{{ end }}
	{{ with .Site.Params.Repo }}<p><a href="{{ . }}">View the source code of this site and report issues</a>.</p>{{ end }}
</footer>
