{{/*
SPDX-FileCopyrightText: 2022 Romain Vigier <contact AT romainvigier.fr>

SPDX-License-Identifier: GPL-3.0-or-later
*/}}

<header class="site-header">
	<h1><a href="{{ .Site.BaseURL }}">{{ .Site.Title | plainify }}</a></h1>
</header>
