{{/*
SPDX-FileCopyrightText: 2022 Romain Vigier <contact AT romainvigier.fr>

SPDX-License-Identifier: GPL-3.0-or-later
*/}}

<section id="site-search" class="site-search">
	<div class="search-field">
		<input type="search" placeholder="Search…" id="search-input" class="search-input"/>
		<button id="search-clear-button" class="search-clear-button" title="Clear Search">Clear Search</button>
	</div>
</section>
