{{/*
SPDX-FileCopyrightText: 2022 Romain Vigier <contact AT romainvigier.fr>

SPDX-License-Identifier: GPL-3.0-or-later
*/}}

<nav id="site-toc" class="site-toc">
	<h2>Table of Contents</h2>
	<ol>
		{{ $currentPage := . }}
		{{ range .Site.Sections }}
			{{ if gt (len .Pages) 0 }}
				<li{{ if eq . $currentPage }} class="current"{{ end }}>
					<a href="{{ .Permalink }}">{{ .LinkTitle }}</a>
					{{ if .InSection $currentPage }}
					<ol>
					{{ range .Pages }}
						<li{{ if eq . $currentPage }} class="current"{{ end }}>
							<a href="{{ .Permalink }}">{{ .LinkTitle }}</a>
							{{ if eq . $currentPage }}
							{{ partial "content/toc.html" . }}
							{{ end }}
						</li>
					{{ end }}
					</ol>
					{{ end }}
				</li>
			{{ end }}
		{{ end }}
	</ol>
</nav>
