{{/*
SPDX-FileCopyrightText: 2022 Romain Vigier <contact AT romainvigier.fr>

SPDX-License-Identifier: GPL-3.0-or-later
*/}}

<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<meta http-equiv="X-UA-Compatible" content="ie=edge">
	{{ partial "head/title.html" . }}
	{{ partial "head/description.html" . }}
	{{ partial "head/styles.html" . }}
	{{ partial "head/favicon.html" . }}
	{{ partial "head/opensearch.html" . }}
	{{ partial "head/social.html" . }}
</head>
