{{/*
SPDX-FileCopyrightText: 2022 Romain Vigier <contact AT romainvigier.fr>

SPDX-License-Identifier: GPL-3.0-or-later
*/}}

{{ $pages := slice }}
{{ range .Site.Pages }}
	{{ if ne .IsHome true }}
	{{ $page := dict "title" .LinkTitle "content" (.Plain | htmlUnescape | lower) "permalink" .Permalink "section" .FirstSection.LinkTitle "summary" (.Summary | plainify | htmlUnescape) }}
	{{ $pages = $pages | append $page }}
	{{ end }}
{{ end }}

{{ $params := dict "pages" ($pages | jsonify) }}
{{ $jsbuildOptions := dict "params" $params }}
{{ $js := resources.Get (path.Join "js" "scripts.js") | js.Build $jsbuildOptions | babel | minify | fingerprint }}
<script src="{{ $js.Permalink }}" integrity="{{ $js.Data.Integrity }}"></script>

{{ if (getenv "GITLAB_VISUAL_REVIEW") }}
<script
	data-project-id="{{ getenv "CI_PROJECT_ID" }}"
	data-merge-request-id="{{ getenv "CI_MERGE_REQUEST_IID" }}"
	data-mr-url="{{ getenv "CI_SERVER_URL" }}"
	data-project-path="{{ getenv "CI_PROJECT_PATH" }}"
	data-require-auth="true"
	id="review-app-toolbar-script"
	src="https://gitlab.com/assets/webpack/visual_review_toolbar.js">
</script>
{{ end }}
