{{/*
SPDX-FileCopyrightText: 2022 Romain Vigier <contact AT romainvigier.fr>

SPDX-License-Identifier: GPL-3.0-or-later
*/}}

<h{{ .Level }} id="{{ .Anchor | safeURL }}">
	<a class="heading-anchor" href="#{{ .Anchor | safeURL }}">#</a>
	<span class="heading-title">{{ .Text | safeHTML }}</span>
</h{{ .Level }}>
