/*
 * SPDX-FileCopyrightText: 2022 Romain Vigier <contact AT romainvigier.fr>
 *
 * SPDX-License-Identifier: GPL-3.0-or-later
 */

html,
body,
header,
nav,
footer,
section,
h1,
h2,
h3,
h4,
h5,
h6,
ul,
ol,
li,
p,
blockquote,
pre,
picture,
hr {
	margin: 0;
	padding: 0;
	font: inherit;
}

html
{
	font: 1em/1em sans-serif;
}

pre,
code
{
	font: inherit;
}

a
{
	color: inherit;
	text-decoration: none;
	outline: none;
}

input,
button {
	appearance: none;
	margin: 0;
	padding: 0;
	border: none;
	border-radius: 0;
	outline: none;
	color: inherit;
	background: none;
	box-shadow: none;
	font: inherit;
}

hr {
	border: none;
}
