/*
 * SPDX-FileCopyrightText: 2022 Romain Vigier <contact AT romainvigier.fr>
 *
 * SPDX-License-Identifier: GPL-3.0-or-later
 */

@charset 'utf-8';

$close-icon: '{{ with resources.Get (path.Join "icons" "close.svg") | minify | fingerprint }}{{ .Permalink }}{{ end }}';
$code-icon: '{{ with resources.Get (path.Join "icons" "code.svg") | minify | fingerprint }}{{ .Permalink }}{{ end }}';
$copy-icon: '{{ with resources.Get (path.Join "icons" "copy.svg") | minify | fingerprint }}{{ .Permalink }}{{ end }}';
$docs-icon: '{{ with resources.Get (path.Join "icons" "docs.svg") | minify | fingerprint }}{{ .Permalink }}{{ end }}';
$done-icon: '{{ with resources.Get (path.Join "icons" "done.svg") | minify | fingerprint }}{{ .Permalink }}{{ end }}';
$info-icon: '{{ with resources.Get (path.Join "icons" "info.svg") | minify | fingerprint }}{{ .Permalink }}{{ end }}';
$menu-icon: '{{ with resources.Get (path.Join "icons" "menu.svg") | minify | fingerprint }}{{ .Permalink }}{{ end }}';
$search-icon: '{{ with resources.Get (path.Join "icons" "search.svg") | minify | fingerprint }}{{ .Permalink }}{{ end }}';

$spacing: 2rem;
$border-radius: 0.2em;

$body-font-family: 'Lato', ui-sans-serif, sans-serif;
$code-font-family: 'Inconsolata', ui-monospace, monospace;
$sidebar-width: 22rem;

@import './reset';

@import './screen/mixins';
@import './screen/variants';

@import './screen/base';
@import './screen/site';
