/*
 * SPDX-FileCopyrightText: 2022 Romain Vigier <contact AT romainvigier.fr>
 *
 * SPDX-License-Identifier: GPL-3.0-or-later
 */

@font-face {
	font-family: 'Inconsolata';
	src:
		url($inconsolata-regular-woff2) format('woff2'),
		url($inconsolata-regular-woff) format('woff');
	font-weight: normal;
	font-style: normal;
	font-display: swap;
}

@font-face {
	font-family: 'Inconsolata';
	src:
		url($inconsolata-bold-woff2) format('woff2'),
		url($inconsolata-bold-woff) format('woff');
	font-weight: bold;
	font-style: normal;
	font-display: swap;
}
