/*
 * SPDX-FileCopyrightText: 2022 Romain Vigier <contact AT romainvigier.fr>
 *
 * SPDX-License-Identifier: GPL-3.0-or-later
 */

@font-face {
	font-family: 'Lato';
	src:
		url($lato-regular-woff2) format('woff2'),
		url($lato-regular-woff) format('woff');
	font-weight: normal;
	font-style: normal;
	font-display: swap;
}

@font-face {
	font-family: 'Lato';
	src:
		url($lato-italic-woff2) format('woff2'),
		url($lato-italic-woff) format('woff');
	font-weight: normal;
	font-style: italic;
	font-display: swap;
}

@font-face {
	font-family: 'Lato';
	src:
		url($lato-bold-woff2) format('woff2'),
		url($lato-bold-woff) format('woff');
	font-weight: bold;
	font-style: normal;
	font-display: swap;
}

@font-face {
	font-family: 'Lato';
	src:
		url($lato-bolditalic-woff2) format('woff2'),
		url($lato-bolditalic-woff) format('woff');
	font-weight: bold;
	font-style: italic;
	font-display: swap;
}

@font-face {
	font-family: 'Lato';
	src:
		url($lato-black-woff2) format('woff2'),
		url($lato-black-woff) format('woff');
	font-weight: 900;
	font-style: normal;
	font-display: swap;
}

@font-face {
	font-family: 'Lato';
	src:
		url($lato-blackitalic-woff2) format('woff2'),
		url($lato-blackitalic-woff) format('woff');
	font-weight: 900;
	font-style: italic;
	font-display: swap;
}
