/*
 * SPDX-FileCopyrightText: 2022 Romain Vigier <contact AT romainvigier.fr>
 *
 * SPDX-License-Identifier: GPL-3.0-or-later
 */

.search-field {
	position: relative;
	margin: 0 (-$spacing / 2) $spacing;

	@include small {
		margin-left: -$spacing / 4;
		margin-right: -$spacing / 4;
	}

	&::before {
		pointer-events: none;
		display: block;
		content: '';
		position: absolute;
		top: 50%;
		left: 0.5em;
		width: 1em;
		height: 1em;
		margin-top: -0.5em;
		background-color: var(--lighter-color);
		mask: url($search-icon) no-repeat center;
		z-index: 2000;
	}

	.search-input {
		position: relative;
		display: block;
		width: 100%;
		padding: 0.5em 2.5em 0.5em;
		outline: 1px solid var(--transparent-background);
		border-radius: 2em;
		background-color: var(--background);
		font-size: 0.8em;
		transition: 0.1s box-shadow;

		&::placeholder {
			color: var(--lighter-color);
			opacity: 1;
		}

		&:focus {
			box-shadow: 0 0 0.2em 0.1em var(--accent);
		}
	}

	&:focus-within {
		.search-input {
			box-shadow: 0 0 0.2em 0.1em var(--accent);
		}
	}

	.search-clear-button {
		pointer-events: none;
		display: block;
		overflow: hidden;
		position: absolute;
		top: 50%;
		right: 0.5em;
		width: 0;
		height: 1em;
		margin-top: -0.5em;
		padding-left: 1em;
		background-color: var(--lighter-color);
		mask: url($close-icon) no-repeat center;
		opacity: 0;
		z-index: 2000;
		transition: 0.2s opacity;

		&.visible {
			pointer-events: all;
			opacity: 1;
		}

		&:hover,
		&:focus {
			background-color: var(--color);
		}

		&:active {
			background-color: var(--accent);
		}
	}
}
