/*
 * SPDX-FileCopyrightText: 2022 Romain Vigier <contact AT romainvigier.fr>
 *
 * SPDX-License-Identifier: GPL-3.0-or-later
 */

.search-results {
	margin-bottom: $spacing;
	font-size: 0.8em;

	@include small {
		padding: 0 $spacing / 4;
	}

	h2 {
		margin-bottom: 1em;
		line-height: 1.4em;
		font-weight: 900;
	}

	.result {
		a {
			display: block;
			margin: 0 -1.5em;
			padding: 0.4em 1.5em;
			border-radius: $border-radius;

			&:hover,
			&:focus {
				background-color: var(--transparent-background);

				.result-title {
					text-decoration: underline;
				}
			}

			&:focus,
			&:active {
				box-shadow: 0 0 0.2em 0.1em var(--accent);
			}

			.result-title {
				display: block;
				font-weight: bold;
			}

			.result-section {
				display: block;
				margin-bottom: 0.2em;
				font-size: 0.9em;
			}

			.result-summary {
				display: block;
				font-size: 0.9em;
				color: var(--lighter-color);
			}
		}
	}
}
