/*
 * SPDX-FileCopyrightText: 2022 Romain Vigier <contact AT romainvigier.fr>
 *
 * SPDX-License-Identifier: GPL-3.0-or-later
 */

.site-content {
	max-width: 50rem;
	margin: 0 auto;
	padding: $spacing $spacing * 2 $spacing * 2;

	@include small {
		padding: $spacing / 2 $spacing / 2 $spacing;
	}

	@import './content/header';
	@import './content/body';
	@import './content/toc';
	@import './content/code-link';
	@import './content/next-link';
	@import './content/highlight';
}
