/*
 * SPDX-FileCopyrightText: 2022 Romain Vigier <contact AT romainvigier.fr>
 *
 * SPDX-License-Identifier: GPL-3.0-or-later
 */

.site-footer {
	margin: 4rem;
	line-height: 1.4em;
	font-size: 0.6em;
	text-align: center;
	color: var(--light-color);

	a {
		@include focus-ring;

		text-decoration: underline;

		&:hover,
		&:focus {
			color: var(--color);
		}
	}
}
