/*
 * SPDX-FileCopyrightText: 2022 Romain Vigier <contact AT romainvigier.fr>
 *
 * SPDX-License-Identifier: GPL-3.0-or-later
 */

.site-search {
	display: none;

	@import './search/field';
	@import './search/results';

	@include script {
		display: block;
	}
}
