/*
 * SPDX-FileCopyrightText: 2022 Romain Vigier <contact AT romainvigier.fr>
 *
 * SPDX-License-Identifier: GPL-3.0-or-later
 */

.site-sidebar {
	.sidebar-content {
		box-sizing: border-box;
		overflow-y: auto;
		overscroll-behavior: contain;
		scrollbar-width: thin;
		scrollbar-color: var(--lighter-color) transparent;
		position: fixed;
		top: 0;
		bottom: 0;
		left: 0;
		width: $sidebar-width;
		max-width: 100%;
		padding: $spacing;
		background-color: var(--sidebar-background);
		outline: 1px solid var(--transparent-background);

		@include medium {
			position: static;
			width: auto;
		}

		@include small {
			padding: $spacing / 2;
		}

		@include script {
			@include medium {
				position: fixed;
				width: $sidebar-width;
				transform: translateX(-100%);
				z-index: 900;
			}
		}

		@include script-ready {
			transition: 0.2s transform;
		}
	}

	.sidebar-close-overlay {
		display: none;
		position: fixed;
		top: 0;
		bottom: 0;
		left: 0;
		right: 0;
		background-color: rgba(0, 0, 0, 0.2);

		@include script {
			@include medium {
				display: block;
				opacity: 0;
				z-index: 800;
			}
		}

		@include script-ready {
			transition: 0.2s opacity;
		}
	}

	@include script {
		@include medium {
			z-index: 1000;
			pointer-events: none;

			&.visible,
			&:focus-within {
				pointer-events: all;

				.sidebar-content {
					transform: translateX(0);
				}

				.sidebar-close-overlay {
					opacity: 1;
				}
			}
		}
	}
}

.sidebar-button {
	@include focus-ring;

	display: none;
	position: relative;
	height: $spacing;
	margin: 0;
	padding: 0 $spacing / 4 0 $spacing;
	font-size: 0.8em;
	border: 1px solid var(--color);
	border-radius: var(--border-radius);
	cursor: pointer;

	&::before {
		content: '';
		display: block;
		position: absolute;
		top: 0;
		bottom: 0;
		left: 0;
		width: $spacing;
		background-color: var(--color);
	}

	&.open {
		&::before {
			mask: url($menu-icon) center / 50% no-repeat;
		}
	}

	&.close {
		margin-bottom: $spacing;

		&::before {
			mask: url($close-icon) center / 50% no-repeat;
		}
	}

	@include script {
		@include medium {
			display: block;
		}
	}
}
