/*
 * SPDX-FileCopyrightText: 2022 Romain Vigier <contact AT romainvigier.fr>
 *
 * SPDX-License-Identifier: GPL-3.0-or-later
 */

.site-toc {
	font-size: 0.8em;

	h2 {
		margin-bottom: 1em;
		line-height: 1.4em;
		font-weight: 900;
	}

	a {
		@include focus-ring;

		padding: 0.2em 0;

		&:hover {
			text-decoration: underline;
		}

		&:hover,
		&:focus {
			color: var(--color);
		}

		&:active {
			text-decoration: underline;
		}
	}

	ol {
		line-height: 1.6em;
		color: var(--lighter-color);
		list-style-type: upper-roman;

		@include small {
			padding: 0 $spacing / 4;
		}

		ol {
			margin-left: 1em;
			list-style-type: decimal;

			@include small {
				padding: 0;
			}

			ol {
				list-style-type: disc;

				ol {
					list-style-type: circle;
				}
			}
		}

		li.current {
			color: var(--color);

			ol {
				color: var(--color);
			}

			&>a {
				font-weight: 600;
			}
		}
	}
}
