{{/*
SPDX-FileCopyrightText: 2022 Romain Vigier <contact AT romainvigier.fr>

SPDX-License-Identifier: GPL-3.0-or-later
*/}}

{{ $header := "" }}
{{ $page := false }}
{{ if .IsHome }}
	{{ $header = "First Section" }}
	{{ $page = index .Sections 0 }}
{{ else if .IsSection }}
	{{ $header = "First Chapter" }}
	{{ $page = index .Pages 0 }}
{{ else if .IsPage }}
	{{ with .PrevInSection }}
		{{ $header = "Next Chapter" }}
		{{ $page = . }}
	{{ else }}
		{{ $sections := .Site.Sections }}
		{{ $current_section := .FirstSection }}
		{{ $indexes := seq 0 (sub (len .Site.Sections) 1) }}
		{{ $current_section_index := -1 }}
		{{ range $indexes }}
			{{ if eq (index $sections .) $current_section }}
				{{ $current_section_index = . }}
			{{ end }}
		{{ end }}
		{{ if ne $current_section_index -1 }}
			{{ with index $sections (add $current_section_index 1) }}
				{{ $header = "Next Section" }}
				{{ $page = . }}
			{{end }}
		{{ end }}
	{{ end }}
{{ end }}
{{ with $page }}
<nav class="content-next-link">
	<a href="{{ .Permalink }}" rel="next">
		{{ with $header }}<h2>{{ . }}</h2>{{ end }}
		<p>{{ .Title }}</p>
	</a>
</nav>
{{ end }}
