{{/*
SPDX-FileCopyrightText: 2022 Romain Vigier <contact AT romainvigier.fr>

SPDX-License-Identifier: GPL-3.0-or-later
*/}}

{{ $re := `(?m)^(#{2,3})\s+(.*)` }}
{{ $headers := findRE $re .RawContent }}
{{ if gt (len $headers) 0 }}
{{ $baseLevel := 2 }}
{{ $lastLevel := $baseLevel }}
{{ $first := true }}
<ol id="content-toc">
	{{ range $headers }}
		{{ $rawTitle := replaceRE $re "$2" . }}
		{{ $title := $rawTitle | markdownify | plainify }}
		{{ $anchor := $rawTitle | anchorize }}
		{{ $level := len (replaceRE $re "$1" .) }}
		{{ if and (eq $level $lastLevel) (ne $first true) }}
			</li>
		{{ else if lt $level $lastLevel }}
			{{ strings.Repeat (sub $lastLevel $level) "</ol>" | safeHTML }}
		{{ else if gt $level $lastLevel }}
			{{ strings.Repeat (sub $level $lastLevel) "<ol>" | safeHTML }}
		{{ end }}
		<li><a href="#{{ $anchor }}">{{ $title | safeHTML }}</a>
		{{ $lastLevel = $level }}
		{{ $first = false }}
	{{ end }}
	{{ if lt $baseLevel $lastLevel }}
		{{ strings.Repeat (sub $lastLevel $baseLevel) "</ol>" | safeHTML }}
	{{ end }}
</ol>
{{ end }}
