{{/*
SPDX-FileCopyrightText: 2022 Romain Vigier <contact AT romainvigier.fr>

SPDX-License-Identifier: GPL-3.0-or-later
*/}}

<!DOCTYPE html>
<html lang="{{ .Language.Lang }}">
    {{ partial "head.html" . }}
    <body class="site">
        <div id="sidebar" class="site-sidebar">
            <div id="sidebar-content" class="sidebar-content">
                <button id="sidebar-button-close" class="sidebar-button close">Close Menu</button>
                {{ partial "site/header.html" . }}
                {{ partial "site/search.html" . }}
                {{ partial "site/toc.html" . }}
            </div>
            <div id="sidebar-close-overlay" class="sidebar-close-overlay"></div>
        </div>
        <main id="site-content" class="site-content">
            <button id="sidebar-button-open" class="sidebar-button open">Menu</button>
            {{ block "main" . }}{{ end }}
        </main>
        {{ partial "site/footer.html" . }}
        {{ partial "scripts.html" . }}
    </body>
</html>
