{{/*
SPDX-FileCopyrightText: 2022 Romain Vigier <contact AT romainvigier.fr>

SPDX-License-Identifier: GPL-3.0-or-later
*/}}

{{ define "main" }}
<header class="content-header">
	<h1>{{ .Title | .RenderString }}</h1>
</header>
{{ with .Content }}
<section id="content-body" class="content-body">
	{{ . }}
</section>
{{ end }}
<nav class="content-toc">
	{{ if .IsHome }}
	<h2>In This Book</h2>
	{{ else }}
	<h2>In This Section</h2>
	{{ end}}
	<ul>
		{{ range .Pages }}
		<li><a href="{{ .Permalink }}">{{ .Title }}</a></li>
		{{ end }}
	</ul>
</nav>
{{ partial "content/next-link.html" . }}
{{ end }}
