{{/*
SPDX-FileCopyrightText: 2022 Romain Vigier <contact AT romainvigier.fr>

SPDX-License-Identifier: GPL-3.0-or-later
*/}}

{{ define "main" }}
<article class="article">
	<header class="content-header">
		<h1>{{ .Title | .RenderString }}</h1>
	</header>
	{{ with .Content }}
	<section id="content-body" class="content-body">
		{{ . }}
	</section>
	{{ end }}
	{{ with .Params.code }}
	<aside class="content-code-link">
		<a href="{{ . }}">Browse the source code of this chapter</a>
	</aside>
	{{ end }}
	{{ partial "content/next-link.html" . }}
</article>
{{ end }}
