/*
 * SPDX-FileCopyrightText: 2022 Romain Vigier <contact AT romainvigier.fr>
 *
 * SPDX-License-Identifier: GPL-3.0-or-later
 */

@mixin block-link {
	@include overflowing-block;

	display: block;
	border-radius: var(--border-radius);
	background-color: var(--alternate-background);
	box-shadow: 0 0 1em var(--shadow-color);
	opacity: 0.96;
	transition: 0.1s box-shadow, 0.1s opacity;

	&:hover,
	&:focus {
		box-shadow: 0 0 0.4em 0.2em var(--accent);
		opacity: 1;
	}
}
