/*
 * SPDX-FileCopyrightText: 2022 Romain Vigier <contact AT romainvigier.fr>
 *
 * SPDX-License-Identifier: GPL-3.0-or-later
 */

@mixin focus-ring {
	margin: 0 -0.1em;
	padding: 0 0.1em;

	&:focus {
		border-radius: var(--border-radius);
		box-shadow: 0 0 0.1em 0.1em var(--accent);
		outline: none;
	}
}
