/*
 * SPDX-FileCopyrightText: 2022 Romain Vigier <contact AT romainvigier.fr>
 *
 * SPDX-License-Identifier: GPL-3.0-or-later
 */

 @mixin overflowing-block {
	margin-left: -$spacing / 2;
	margin-right: -$spacing / 2;
	padding: $spacing / 2;

	@include small {
		margin-left: -$spacing / 4;
		margin-right: -$spacing / 4;
		padding: $spacing / 2 $spacing / 4;
	}
}
