{{/*
SPDX-FileCopyrightText: 2022 Romain Vigier <contact AT romainvigier.fr>

SPDX-License-Identifier: GPL-3.0-or-later
*/}}

{{ $siteTitle := .Site.Title | plainify }}
{{ $pageTitle := .Title | plainify }}
{{ $sep := " · " }}
{{ if .IsHome }}
	<title>{{ $siteTitle }}{{ with .Site.Params.description}}{{ $sep }}{{ . | plainify }}{{ end }}</title>
{{ else if eq .Kind "404" }}
	<title>Page Not Found{{ $sep }}{{ $siteTitle }}</title>
{{ else if eq .Kind "section" }}
	<title>{{ $pageTitle }}{{ $sep }}{{ $siteTitle }}</title>
{{ else }}
	<title>{{ $pageTitle }}{{ with .Site.GetPage .Section }}{{ $sep }}{{ .Title }}{{end}}{{ $sep }}{{ $siteTitle }}</title>
{{ end }}
