{{/*
SPDX-FileCopyrightText: 2022 Romain Vigier <contact AT romainvigier.fr>

SPDX-License-Identifier: GPL-3.0-or-later
*/}}

<svg style="display: none">
	<symbol viewBox="{{ .Get "viewBox" }}" id="{{ .Get "id" }}">
		{{ .Inner }}
	</symbol>
</svg>
