{{/*
SPDX-FileCopyrightText: 2022 Romain Vigier <contact AT romainvigier.fr>

SPDX-License-Identifier: GPL-3.0-or-later
*/}}
<svg
	{{ with .Get "class" }}class="{{ . }}"{{ end }}
	{{ with .Get "width" }}width="{{ . }}"{{ end }}
	{{ with .Get "height" }}height="{{ . }}"{{ end }}
>
<use xlink:href="#{{ .Get "id" }}"></use>
</svg>
