/*
 * SPDX-FileCopyrightText: 2022 Romain Vigier <contact AT romainvigier.fr>
 *
 * SPDX-License-Identifier: GPL-3.0-or-later
 */

.content-body {
	line-height: 1.6em;

	@include small {
		font-size: 0.8em;
	}

	h2,
	h3,
	h4,
	h5,
	h6 {
		position: relative;
		margin: 1em 0;
		padding-top: 1em;
		font-weight: 900;
		line-height: 1.4em;

		.heading-anchor {
			user-select: none;
			display: block;
			position: absolute;
			right: 100%;
			margin-right: 0.2em;
			color: var(--light-color);
			border: none;

			@include small {
				display: inline;
				position: static;
				margin-right: 0.1em;
			}

			&:hover,
			&:focus {
				color: var(--accent);
				border: none;
			}
		}
	}

	h2 {
		font-size: 1.6em;
	}

	h3 {
		font-size: 1.2em;
	}

	p,
	ul,
	ol {
		margin: 0 0 1em;
	}

	ul,
	ol {
		list-style-position: inside;
		text-indent: 1em;
	}

	a {
		@include focus-ring;

		color: var(--accent);
		border-bottom: 1px solid;

		&:hover,
		&:focus {
			border-bottom: 3px double;
		}

		&[href^="https://docs.gtk.org"]::after,
		&[href^="https://gjs.guide"]::after {
			content: '';
			display: inline;
			height: 1em;
			vertical-align: middle;
			margin-left: 0.2em;
			padding-left: 1em;
			background-color: var(--accent);
			mask: url($docs-icon) center / 90% no-repeat;
		}
	}

	code {
		padding: 0.1em 0.2em;
		background-color: var(--transparent-background);
		border-radius: var(--border-radius);
		font-family: $code-font-family;
		overflow-wrap: break-word;
	}

	pre {
		@include focus-ring;

		position: relative;
		overflow-x: auto;
		margin: $spacing (-$spacing / 2);
		padding: $spacing / 2;
		line-height: 1.2em;
		font-family: $code-font-family;
		background-color: rgba(0, 0, 0, 0.9);
		color: rgba(255, 255, 255, 0.9);
		outline: 1px solid var(--transparent-background);
		border-radius: var(--border-radius);

		@include small {
			margin-left: -$spacing / 4;
			margin-right: -$spacing / 4;
			padding: $spacing / 4;
		}

		code {
			padding: 0;
			background: none;
			color: inherit;
			tab-size: 4;

			&.language-xml {
				tab-size: 2;
			}
		}
	}

	picture {
		display: block;
		margin: 2em 0;

		img {
			display: block;
			max-width: 100%;
			margin: 0 auto;
		}
	}

	.info {
		@include overflowing-block;

		margin-top: $spacing;
		margin-bottom: $spacing;
		border-radius: $border-radius;
		background-color: var(--alternate-background);
		line-height: 1.6em;
		font-size: 0.8em;

		&::before {
			content: '';
			display: block;
			float: left;
			width: 1.6em;
			height: 1.6em;
			margin-right: 0.4em;
			background-color: var(--color);
			mask: url($info-icon) center / 100% no-repeat;
			opacity: 0.5;
		}

		&>:last-child {
			margin-bottom: 0;
		}
	}

	.icon {
		position: relative;
		top: -0.1em;
		display: inline-block;
		width: 1em;
		height: 1em;
		vertical-align: middle;
		margin: 0 0.2em;
	}

	hr {
		margin-top: $spacing;
		padding-top: $spacing;
		border-top: 1px solid var(--transparent-background);
	}
}
