/*
 * SPDX-FileCopyrightText: 2022 Romain Vigier <contact AT romainvigier.fr>
 *
 * SPDX-License-Identifier: GPL-3.0-or-later
 */

.content-code-link {
	margin-top: $spacing * 2;

	a {
		@include block-link;

		font-weight: bold;
		text-align: center;

		&::before {
			content: '';
			display: inline-block;
			position: relative;
			top: 0.15em;
			width: 1em;
			height: 1em;
			margin-right: 0.6em;
			background-color: var(--color);
			mask: url($code-icon) center / 100% no-repeat;
		}
	}
}
