/*
 * SPDX-FileCopyrightText: 2022 Romain Vigier <contact AT romainvigier.fr>
 *
 * SPDX-License-Identifier: GPL-3.0-or-later
 */

.content-header {
	margin-top: $spacing;

	@include small {
		font-size: 0.8em;
	}

	h1 {
		margin-bottom: 1em;
		font-size: 2em;
		font-weight: 900;
		line-height: 1.4em;
	}
}
