/*
 * SPDX-FileCopyrightText: 2022 Romain Vigier <contact AT romainvigier.fr>
 *
 * SPDX-License-Identifier: GPL-3.0-or-later
 */

.highlight {
	position: relative;

	button.copy-code {
		@include focus-ring;

		display: block;
		position: absolute;
		top: $spacing / 2;
		right: 0;
		width: 0;
		height: 1.2em;
		overflow: hidden;
		padding: 0 0 0 1.2em;
		border-radius: var(--border-radius);
		background-color: rgba(0, 0, 0, 0.9);
		cursor: pointer;
		opacity: 0.6;

		@include small {
			top: $spacing / 4;
		}

		&::before,
		&::after {
			content: '';
			display: block;
			position: absolute;
			top: 0;
			bottom: 0;
			left: 0;
			right: 0;
			background-color: #fff;
			transition: 0.2s opacity;
		}

		&::before {
			mask: url($copy-icon) center / 70% no-repeat;
		}

		&::after {
			mask: url($done-icon) center / 70% no-repeat;
			opacity: 0;
		}

		&.copied {
			&::before {
				opacity: 0;
			}

			&::after {
				opacity: 1;
			}
		}

		&:hover,
		&:focus {
			opacity: 1;
		}

		&:active {
			background-color: var(--accent);
		}
	}

	code {
		display: grid;
	}

	.line {
		display: flex;
		gap: 2em;
		margin-bottom: -1px;
		padding-right: 3.2em;
		border-bottom: 1px solid rgba(255,255,255,0.02);

		@include small {
			gap: 1em;
			padding-right: 2.2em;
		}
	}

	.ln {
		user-select: none;
		color: #666;

		&::selection {
			background: none;
		}
	}

	.cl {
		width: 100%;
		min-width: min-content;
	}

	.hl {
		.cl {
			position: relative;
			margin-left: -1em;
			padding-left: 0.6em;
			border-left: 0.4em double var(--hl-yellow);

			@include small {
				margin-left: -0.6em;
				padding-left: 0.4em;
				border-left-width: 0.2em;
			}
		}
	}

	.c, /* Comment */
	.ch, /* Comment.Hashbang */
	.cm, /* Comment.Multiline */
	.cp, /* Comment.Preproc */
	.cpf, /* Comment.PreprocFile */
	.c1, /* Comment.Single */
	.cs /* Comment.Special */ {
		color: var(--hl-gray);
	}

	.ch /* Comment.Hashbang */ {
		font-style: normal;
		font-weight: bold;
	}

	.gd /* General.Deleted */ {
		background-color: #900;
	}

	.gi /* General.Inserted */ {
		background-color: #090;
	}

	.gh, /* General.Heading */
	.gu /* General.Subheading */ {
		font-weight: bold;
	}

	.k, /* Keyword */
	.kt /* Keyword.Type */ {
		color: var(--hl-blue);
		font-weight: bold;
	}

	.kc /* Keyword.Constant */ {
		color: var(--hl-yellow);
		font-weight: bold;
	}

	.kd, /* Keyword.Declaration */
	.kn, /* Keyword.Namespace */
	.kp, /* Keyword.Pseudo */
	.kr /* Keyword.Reserved */ {
		color: var(--hl-pink);
		font-weight: bold;
	}
	.kr /* Keyword.Reserved */ {
		color: var(--hl-purple);
	}

	.m, /* Literal.Number */
	.mb, /* Literal.Number.Bin */
	.mf, /* Literal.Number.Float */
	.mh, /* Literal.Number.Hex */
	.mi, /* Literal.Number.Integer */
	.il, /* Literal.Number.Integer.Long */
	.mo /* Literal.Number.Oct */ {
		color: var(--hl-purple);
	}

	.s, /* Literal.String */
	.sa, /* Literal.String.Affix */
	.sb, /* Literal.String.Backtick */
	.sc, /* Literal.String.Char */
	.dl, /* Literal.String.Delimiter */
	.sd, /* Literal.String.Doc */
	.s2, /* Literal.String.Double */
	.se, /* Literal.String.Escape */
	.sh, /* Literal.String.Heredoc */
	.sx, /* Literal.String.Other */
	.s1, /* Literal.String.Single */
	.ss /* Literal.String.Symbol */ {
		color: var(--hl-green);
	}

	.sr /* Literal.String.Regex */ {
		color: var(--hl-yellow);
	}

	.si /* Literal.String.Interpol */ {
		color: var(--hl-pink);
	}

	.na /* Name.Attribute */ {
		color: var(--hl-pink);
	}

	.nb /* Name.Builtin */ {
		color: var(--hl-yellow);
		font-weight: bold;
	}

	.bp /* Name.Builtin.Pseudo */ {
		font-weight: bold;
	}

	.nc /* Name.Class */ {
		color: var(--hl-yellow);
	}

	.no /* Name.Constant */ {
		color: var(--hl-blue);
	}

	.nf, /* Name.Function */
	.fm /* Name.Function.Magic */ {
		color: var(--hl-pink);
	}

	.nn /* Name.Namespace */ {
		font-weight: bold;
	}

	.nt /* Name.Tag */ {
		color: var(--hl-pink);
	}

	.nv, /* Name.Variable */
	.vc, /* Name.Variable.Class */
	.vg, /* Name.Variable.Global */
	.vi, /* Name.Variable.Instance */
	.vm {
		color: var(--hl-blue);
	}

	.o, /* Operator */
	.p /* Punctuation */ {
		color: var(--hl-gray-light);
	}

	.ow /* Operator.Word */ {
		color: var(--hl-purple);
	}
}
