/*
 * SPDX-FileCopyrightText: 2022 Romain Vigier <contact AT romainvigier.fr>
 *
 * SPDX-License-Identifier: GPL-3.0-or-later
 */

.content-next-link {
	margin-top: $spacing;
	padding-top: $spacing;
	border-top: 1px solid var(--transparent-background);

	a {
		@include block-link;

		h2 {
			font-size: 0.6em;
			color: var(--lighter-color);
		}

		p {
			font-size: 0.8em;
			font-weight: 900;

			&::after {
				content: ' →';
			}
		}
	}
}
