/*
 * SPDX-FileCopyrightText: 2022 Romain Vigier <contact AT romainvigier.fr>
 *
 * SPDX-License-Identifier: GPL-3.0-or-later
 */

.content-toc {
	margin-top: 2rem;
	padding-top: 2rem;
	border-top: 1px solid var(--transparent-background);

	@include small {
		font-size: 0.8em;
	}

	h2 {
		margin-bottom: 1em;
		font-weight: 900;
	}

	ul {
		list-style-position: inside;
		line-height: 1.4em;
	}

	a {
		@include focus-ring;

		&:hover,
		&:focus {
			text-decoration: underline;
		}
	}
}
