/*
 * SPDX-FileCopyrightText: 2022 Romain Vigier <contact AT romainvigier.fr>
 *
 * SPDX-License-Identifier: GPL-3.0-or-later
 */

@use "sass:list";
@use "sass:selector";

@mixin script {
	@at-root :root.script & {
		@content;
	}
}

@mixin script-ready {
	@at-root :root.script.ready & {
		@content;
	}
}
